# Assignment no.10 Recommendation System

### Problem statement.

### Build a recommender system by using cosine simillarties score.

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.read_csv('/content/drive/MyDrive/Datasets/Recommendation System/book.csv', encoding='latin-1')

In [4]:
df.head()

   Unnamed: 0  ...  Book.Rating
0           1  ...            5
1           2  ...            3
2           3  ...            6
3           4  ...            8
4           5  ...            6

[5 rows x 4 columns]

In [5]:
df.rename(columns={"User.ID":"user_id","Book.Title":"book_title","Book.Rating":"book_rating"},inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   user_id      10000 non-null  int64
 2   book_title   10000 non-null  object
 3   book_rating  10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB

In [7]:
df.isnull().sum()

Unnamed: 0     0
user_id        0
book_title     0
book_rating    0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
book=df.iloc[:,1:]

In [10]:
book.head(3)

   user_id            book_title  book_rating
0   276726   Classical Mythology            5
1   276729          Clara Callan            3
2   276729  Decision in Normandy            6

In [11]:
len(book.user_id.unique())

2182

In [12]:
len(book.book_title.unique())

9659

In [13]:
user_book = book.pivot_table(index='user_id',columns='book_title',values='book_rating')
user_book.head()

book_title   Jason, Madison &amp  ...  Ã?Â?bermorgen.
user_id                           ...
8                            NaN  ...             NaN
9                            NaN  ...             NaN
10                           NaN  ...             NaN
12                           NaN  ...             NaN
14                           NaN  ...             NaN

[5 rows x 9659 columns]

#### Impute those NaNs with 0 values

In [14]:
user_book.fillna(0, inplace=True)

In [15]:
user_book.head()

book_title   Jason, Madison &amp  ...  Ã?Â?bermorgen.
user_id                           ...
8                            0.0  ...             0.0
9                            0.0  ...             0.0
10                           0.0  ...             0.0
12                           0.0  ...             0.0
14                           0.0  ...             0.0

[5 rows x 9659 columns]

#### Calculating Cosine Similarity between Users

In [16]:
user_sim = 1 - pairwise_distances( user_book.values,metric='cosine')

In [17]:
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

#### Storing the results in a dataframe

In [18]:
user_sim_df = pd.DataFrame(user_sim)

#### Set the index and column names to user ids.

In [19]:
user_sim_df.index = book.user_id.unique()
user_sim_df.columns = book.user_id.unique()

In [20]:
user_sim_df.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     1.0     0.0     0.0     0.0     0.0
276729     0.0     1.0     0.0     0.0     0.0
276736     0.0     0.0     1.0     0.0     0.0
276737     0.0     0.0     0.0     1.0     0.0
276744     0.0     0.0     0.0     0.0     1.0

In [21]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     0.0     0.0     0.0     0.0     0.0
276729     0.0     0.0     0.0     0.0     0.0
276736     0.0     0.0     0.0     0.0     0.0
276737     0.0     0.0     0.0     0.0     0.0
276744     0.0     0.0     0.0     0.0     0.0

#### 5 Similar Users

In [22]:
user_sim_df.idxmax(axis=1)[0:5]

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
dtype: int64